<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"> {{ 'PAGES.MAIN.TITLE' | translate }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': current === 'main'}">
        <a class="nav-link" routerLink="/main">
          <fa-icon [icon]="faHome"></fa-icon> {{ 'PAGES.MAIN.HOME' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'wallet'}">
        <a class="nav-link" routerLink="/wallet">
          <fa-icon [icon]="faWallet"></fa-icon> {{ 'PAGES.MAIN.WALLET' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'exchange'}">
        <a class="nav-link" routerLink="/exchange">
          <fa-icon [icon]="faBuilding"></fa-icon> {{ 'PAGES.MAIN.EXCHANGE' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'forum'}">
        <a class="nav-link" routerLink="/forum">
          <fa-icon [icon]="faComments"></fa-icon> {{ 'PAGES.MAIN.FORUM' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'feedback'}">
        <a class="nav-link" routerLink="/feedback">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          {{ 'PAGES.MAIN.FEEDBACK' | translate }}
        </a>
      </li>

    </ul>
    <select class="selectpicker" data-width="auto" data-style="btn-dark">
      <option value="en" data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
      <!-- <option value="mx" data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option> -->
      <option value="zh" data-content='<span class="flag-icon flag-icon-cn"></span> 中文'>中文</option>
    </select>
  </div>
</nav>