<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo.png" /> VIG COIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{'active': current === 'main'}">
        <a class="nav-link" routerLink="/main">
          <fa-icon [icon]="faHome"></fa-icon> {{ 'PAGES.MAIN.HOME' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'wallet'}">
        <a class="nav-link" routerLink="/wallet">
          <fa-icon [icon]="faWallet"></fa-icon> {{ 'PAGES.MAIN.WALLET' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'exchange'}">
        <a class="nav-link" routerLink="/exchange">
          <fa-icon [icon]="faBuilding"></fa-icon> {{ 'PAGES.MAIN.EXCHANGE' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'forum'}">
        <a class="nav-link" routerLink="/forum">
          <fa-icon [icon]="faComments"></fa-icon> {{ 'PAGES.MAIN.FORUM' | translate }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': current === 'feedback'}">
        <a class="nav-link" routerLink="/feedback">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          {{ 'PAGES.MAIN.FEEDBACK' | translate }}
        </a>
      </li>

    </ul>
    <ng-select [items]="supportedLanguages" [searchable]=false bindLabel="language" bindValue="name"
      class="custom btn btn-primary btn-dark" [clearable]=false (change)="onChange($event)" [(ngModel)]="selectedLanguage">
      <ng-template ng-label-tmp let-item="item" let-label="label">
        <span class="flag-icon flag-icon-{{item.icon}}"></span> {{item.language}}
      </ng-template>
    </ng-select>
  </div>
</nav>