<app-navbar current="main"></app-navbar>


<div class="container-fluid">
  <p>

  </p>
  <div class="row">
    <div class="col-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th colspan="3">钱包</th>
          </tr>
        </thead>
        <tr>
          <td>盈余：</td>
          <th>{{balance}}</th>
          <td>{{unit}}</td>
        </tr>
        <tr>
          <td>未确认：</td>
          <th>{{unacknowledged}}</th>
          <td>{{unit}}</td>
        </tr>
        <tr>
          <td>总计</td>
          <th>{{total}}</th>
          <td>{{unit}}</td>
        </tr>
      </table>

    </div>
    <div class="col-8">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th colspan="3">最近交易</th>
          </tr>
        </thead>
        <tr>
          <td>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  发出
                </div>
                <div class="col-sm text-center">
                  <div class="clearfix">
                    <span class="float-left">17-05-18 02:40</span>
                    <span class="float-right">-100</span>
                  </div>
                  <div>
                    84AE65F79F809798E35532162C365CC947841B9EFACF29DA45C1B90E4BD4021A
                  </div>

                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  接收
                </div>
                <div class="col-sm text-center">
                  <div class="clearfix">
                    <span class="float-left">17-05-18 02:40</span>
                    <span class="float-right">-100</span>
                  </div>
                  <div>84AE65F79F809798E35532162C365CC947841B9EFACF29DA45C1B90E4BD4021A</div>
                </div>
              </div>
            </div>

          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div *ngIf="address" class="alert alert-light" role="alert">
        <h4 class="alert-heading">当前钱包地址</h4>
        <hr/>
        <p class="word-wrap">{{address}}</p>
      </div>

      <div *ngIf="error" class="alert alert-light" role="alert">
        <p *ngIf="error" class="alert alert-danger" role="alert">钱包文件无效或者密码错误！</p>
      </div>
      <form class="border border-secondary">

        <div class="form-group row">
          <label for="password" class="col-sm-4">钱包密码</label>
          <div class="col-sm-8">
            <input type="password" [(ngModel)]="password" name="password" class="form-control-file text-info" placeholder=" 如果有密码请填写，否则留空" id="password">
          </div>
        </div>
        <div class="form-group row" *ngIf="!file || !file.path">
          <label for="wallet-selector-1" class="col-sm-4">请选择钱包</label>
          <div class="col-sm-8">

            <input type="file" class="form-control-file text-info" id="wallet-selector-1" accept=".keys,.wallet" (change)="fileChangeEvent($event)">
          </div>
        </div>
        <div class="form-group row" *ngIf="file && file.path">
          <label for="wallet-selector-2" class="col-sm-4 text-success">您位于[
            <strong>{{file.path}}</strong>]的钱包已经加载成功！点击更换钱包。</label>
          <div class="col-sm-8">
            <input type="file" class="form-control-file text-info" placeholer="更换钱包" id="wallet-selector-2" accept=".keys,.wallet" (change)="fileChangeEvent($event)">
          </div>
        </div>
        <div class="form-group text-center">
          <input type="submit" value="加载钱包" (click)="loadWallet()">
        </div>
      </form>
    </div>
  </div>
</div>
